/* Estilos para pantallas grandes (mayores a 992px) */
@media only screen and (min-width: 992px) {
  header {
    background-color: var(--color-azul-marino);
    display: flex;
  }

  .contenedor-imagen-header {
    height: 60px;
    img {
      width: 200px;
      height: 100%;
    }
  }
  .contenedor-link-header {
    width: 100%;
  }

  .contenedor-link-header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    a {
      text-decoration: none;
      color: black;
      font-size: var(--tamano-fuente-24);
    }
  }
}

/* Estilos para tabletas (entre 768px y 991px) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  header {
    background-color: var(--color-azul-marino);
    display: flex;
  }
  .contenedor-imagen-header {
    height: 60px;
    img {
      width: 130px;
      height: 100%;
    }
  }

  .contenedor-link-header {
    width: 100%;
  }

  .contenedor-link-header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    a {
      text-decoration: none;
      color: black;
      font-size: var(--tamano-fuente-20);
    }
  }
}

/* Estilos para celulares (menores a 767px) */
@media only screen and (max-width: 767px) {
  .contenedor-imagen-header {
    display: none;
  }
  header {
    background-color: var(--color-azul-marino);
    display: flex;
  }

  .contenedor-link-header {
    width: 100%;
  }

  .contenedor-link-header ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    a {
      text-decoration: none;
      color: black;
      font-size: var(--tamano-fuente-16);
    }
  }
}
