:root {
    /* Colores a usar --- primera paleta */ 
    --color-azul-marino: #36688D;
    --color-amarillo-oro: #F3CD05;
    --color-naranja-dorado: #F49F05;
    --color-naranja-oscuro: #F18904;
    --color-marron-grisaceo: #BDA589;
    
    /* Colores a usar --- Segunda paleta */ 

    --color-azul-brillante: #007bff; 
    --color-gris-acero: #6c757d; /* Gris secundario */
    --color-verde-bosque: #28a745; /* Verde destacado */
    --color-amarillo-brillante: #ffc107; /* Amarillo */
    
    /* Colores a usar --- Tercera paleta  paleta */ 

    --color-gris-claro: #f8f9fa; 
    --color-verde-menta: #9addbe;  
    --color-gris-pizzara: #343a40; 
    
    
    /* Tamaños de fuente */
    --tamano-fuente-24: 24px; /* Tamaño de título principal */
    --tamano-fuente-20: 20px; /* Tamaño de subtítulo */
    --tamano-fuente-16: 16px; /* Tamaño de párrafo normal */
    --tamano-fuente-14: 14px; /* Tamaño de fuente para enlaces */
    --tamano-fuente-10: 10px;
    --tamano-fuente-8: 8px;
    
    
    /* Espaciados */
    --espaciado-pequeno: 10px; /* Espaciado pequeño */
    --espaciado-medio: 20px; /* Espaciado medio */
    --espaciado-grande: 40px; /* Espaciado grande */
    
    /* Márgenes */
    --margen-superior: 10px; /* Margen superior */
    --margen-inferior: 10px; /* Margen inferior */
    --margen-horizontal: 20px; /* Margen horizontal */
    
    }